{% extends 'base.html' %}
{% block container %}
    {% if blogs %}
        {% for blog in blogs %}
            <div class="explanation" id="zen-explanation" role="article">
                <h3>{{ blog.title }} <a href="{% url 'edit_blog' blog.id %}">Edit</a></h3>
                <p>{{ blog.content }}</p>
            </div>
        {% endfor %}
        <div class="explanation" id="zen-explanation" role="article">
            <p>Add more topics <a class="design-name"  href="{% url 'add_blog' %}">here</a></p>
        </div>
    {% else %}
        <div class="explanation" id="zen-explanation" role="article">
            <p>No blogs present, start adding from <a class="design-name"  href="{% url 'add_blog' %}">here</a></p>
        </div>
    {% endif %}
{% endblock %}
